<a href="https://colab.research.google.com/github/xuzhenting/Notebooks/blob/main/Python_%E7%A8%8B%E5%BC%8F%E5%9F%BA%E7%A4%8E%E5%85%A5%E9%96%80%E8%88%87%E9%80%B2%E9%9A%8E%E6%87%89%E7%94%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Markdown語法教學
## 標題
### 標題
#### 標題
##### 標題
###### 標題

*斜體*內文內文內文內文**粗體**內文內文***粗斜體***內文

---

內文`網底`內文內文內文內文內文內文內文內文

---

1. 編號
2. 編號
3. 編號
4. 編號

* 項目
* 項目

>技巧  
12345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890

```Python
print("Hello")
print("1234")
```

    print("Hello")
    print("1234")
    print("Hi!!!!")
    print("5678")

https://google.com  
[Google官網](https://google.com)  
Google官網

[![Google官網](https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png)](https://google.com)


[![Google官網](https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png)](https://google.com "Google官網")

In [ ]:
print("Hello!!!!")

# 變數與資料型態

In [ ]:
# 變數的宣告與輸出
x = 0 
y = 1
a = b = c = 0
name , age = "Devid" , 18

print(x, y, a, b, c, name, age)

In [ ]:
# 變數的資料型態
# int, float, str, bool
# type() 檢視變數的資料型態

x = 1
pi = 3.14159
name = "David"
isMarry = False

# print(x, pi, name, isMarry)
print(type(x))
print(type(name))
print(type(isMarry))

# 資料型別的轉換
# int(), float(), str(), bool()

# 輸出與輸入

## 輸出：print()

In [ ]:
# print()
# ptinr()參數
# sep 間隔符號,預設值 ' '
# end 結束符號,預設值 '\n'

print(1,2,3,3.14,'David',True)
print(1,2,3,4,5,sep='&')
print(1,2,3,4,5,sep='&',end='.')

print(1,2,3,4,5,)

In [ ]:
# print()參數格式化 : %
print("考試80分")
print("%s考試%d分"%("曉明",80))
print("%s考試%d分"%("奇奇",90))
print("%5s考試%3d分"%("蒂蒂",90))
print("%5s考試%-3d分"%("小可",90))
print("圓周率是%.2f"%(3.14159))

In [ ]:
# print()參數格式化 : format()
# 冒號[:]之前是索引冒號[:]之後是格式
print("小明考試80分")
print("{}考試{}分".format("小明",80))
print("考試{1}分的人是{0}".format("小明",80))
print("{:5}考試{:3}分".format("小明",80))
print("{:>5}考試{:<3}分".format("小明",80)) #>靠右 <靠左 ^置中
print("{:^5}考試{:^3}分".format("小明",80))
print("圓周率是{:.2f}".format(3.14159)) #.2f 符點數後兩位

In [ ]:
# f-strings
name = '曉明'
score = 80
# print(name+"考試"+str(score)+"分")
print(f"{name}考試{score}分")
print(f"{name:^5}考試{score:<3}分")

x = 2
y = 5
print(f"{x} * {y} = {x * y}")

## 輸入：input()

In [ ]:
score = input("請輸入成績：")
# print(f"成績{score}")
print("成績：{}".format(score))

In [ ]:
score1 = input("請輸入英文成績：")
score2 = input("請輸入國文成績：")
print("總分:{}".format(int(score1)+int(score2)))

## 註解

In [ ]:
# 註解符號快速鍵 Ctrl + /

# 單行註解

# 多行註解
# 多行註解

example = """
多行註解
多行註解
"""

print(example) # 變數跨行宣告

# 運算子

* 算術運算子 + - * / %(餘) //(商) **(指數)
* / 為slash,台灣稱為斜線,中國稱為斜槓
* \ 為back slash,台灣稱為反斜線,中國稱為反斜槓

In [ ]:
x = 5
y = 2

print(x+y,x-y,x*y,x/y)
print(x%y,x//y,x**y)

## 比較運算子
== != > >= < <=

In [ ]:
x=5
y=2

x == y
x != y

## 邏輯運算子 
and, or, not

In [ ]:
x=5
y=2

# (x==y)and(x>y)
# (x==y)or(x>y)
# not(x==y)

## 複和指定運算子
+= -=

In [ ]:
x=1
x=x+1
print(x)

x=x-1
print(x)

## 範例：溫度轉換器
華氏=攝氏*(9/5)+32

In [ ]:
C = input("請輸入攝氏：")
F = int(C)*(9/5)+32
print("攝氏{0}度為華氏{1}度".format(C,F))
print(f"攝氏{C}度為華氏{F}度")

## 範例：BMI計算機
$BMI=體重(kg)/身高(m) ^ 2$

In [ ]:
K = int(input("請輸入體重(kg)"))
CM = int(input("請輸入身高(cm)"))
BMI = K/(CM/100)**2
print("身高{}公分,體重{}公斤,BMI值為{:.2f}".format(CM,K,BMI))
print(f"身高{CM}公分,體重{K}公斤,BMI值為{BMI:.2f}")

# 判斷式

## 雙向判斷式

In [ ]:
score = int(input("請輸入成績"))
if score >= 60 :
  print("Pass")
else :
  print("Down")

## 多項判斷式

In [ ]:
score = int(input("請輸入成績"))
if score >= 90 :
  print("A")
elif score >= 80 :
  print("B")
elif score >= 70 :
  print(C)
elif score >= 60 :
  print("D")
else:
  print("Down")

## 範例：判斷是否為整數

In [ ]:
n = input("請輸入一個整數")
n.isdigit()

## 範例：判斷奇偶數

In [ ]:
num = int(input("請輸入一個正整數"))

if num%2 == 0 :
  print(f"數字{num}為偶數")
  print("數字{}為偶數".format(num))  
else :
  print(f"數字{num}為奇數")
  print("數字{}為奇數".format(num))

## 範例：判斷閏年-巢狀判斷式
西元年若為整百年可被400整除為閏年
若不是整百年可被4整除為閏年

In [ ]:
year = int(input("請輸入西元年"))

if year%100 == 0:
  if year%400 == 0:
    print(f"西元{year}年是閏年")
  else:
    print(f"西元{year}年不是閏年")
else:
  if year%4 == 0:
    print("西元{}年為閏年".format(year))
  else:
    print("西元{}年不是閏年".format(year))

請輸入西元年1988
西元1988年為閏年

## 範例：判斷閏年-多項判斷式

In [ ]:
year = int(input("請輸入西元年"))

if year%100==0 and year%4==0:
  print(f"西元{year}年為閏年")
elif year%100!=0 and year%4==0:
  print(f"西元{year}年為閏年")
else:
  print(f"西元{year}年不是閏年")

# 自訂函式

## 基本格式

In [ ]:
def Hello():
  print("Hello")

Hello()
Hello()

Hello
Hello

## 參數的使用

In [ ]:
def Hello(name):
  print("Hello,{}".format(name))

Hello("David")
Hello("Lily")

Hello,David
Hello,Lily

## 回傳值

In [ ]:
def Hello(name):
  msg = "Hello,{}.".format(name)
  return msg

msg = Hello("David")
print(msg)

Hello,David.

## 範例：計算面積  
getArea(), 參數 w, h, 回傳值 area  
有兩塊地(w,h)為(5,4),(10,5)請計算總面積

In [ ]:
def getArea(w,h):
  area = w * h
  return area

A = getArea(5,4)
B = getArea(10,5)
print("總面積為{}".format(A+B))

總面積為70

## 範例：溫度轉換器-函式
TF = TC*(9/5)+32

In [ ]:
def tctotf(TC):
  TF = TC*(9/5)+32
  return TF

TC = float(input("請輸入攝氏溫度："))
TF = tctotf(TC)
print("攝氏{}度為華氏{}度".format(TC,TF))
print(f"攝氏{TC}度為華氏{TF}度")

請輸入攝氏溫度：150
攝氏150.0度為華氏302.0度
攝氏150.0度為華氏302.0度

## 範例：BMI計算機-函式  
getBMI(),參數 h, w  
BMI值 <= 18.5、加訊息"過瘦"  
BMI值 > 24、加訊息"過胖"  
BMI值在這之間、加訊息"正常"

In [ ]:
def getBMI(h,w):
  BMI = w/(h/100)**2
  return BMI

w = int(input("請輸入體重(kg)"))
h = int(input("請輸入身高(cm)"))
BMI = getBMI(h,w)

print("身高{}公分,體重{}公斤,BMI值為{:.2f}".format(h,w,BMI))
if BMI <= 18.5:
  print("過瘦")
elif BMI > 24 :
  print("過胖")
else:
  print("標準")

請輸入體重(kg)50
請輸入身高(cm)150
身高150公分,體重50公斤,BMI值為22.22
正常

# 串列與整數串列

## 串列

In [ ]:
# 宣告串列的方式
list1 = [1,2,3,4,5,6,7,8,9]
list2 = ["Apple","Banana","Cherry"]
list3 = ["David",180,80,24.61,True]
# 查詢資料型別
type(list1)
type(list2)
type(list3)

list

In [ ]:
# 串列取值-使用索引值
list1 = [1,2,3,4,5,6,7,8,9]

# 取出單一的元素值
# 格式：串列[索引值]
list1[2]
list1[5]

# 取出範圍元素值
# 格式：串列[起始索引：終止索引]
list1[2:5] #3,4,5
list1[5:8] #6,7,8

# 取出範圍元素值,有間隔
# 格式：串列[起始索引:終止索引:間隔值]
list1[0:9:2]
list1[1:9:2]

# 取出特定範圍值
# 取出所有的值
list1[0:9]
list1[:]

#取出前幾名的值
list1[0:3]
list1[:3]

# 取出後幾名的值
list1[4:9]
list1[4:]

# 取出最後一個值
len(list1)
list1[len(list1)-1]

# 從右邊開始算第一個值為-1
list1[-1] 
list1[-4] #取出倒數第四個
list1[-3:] # 取出最後三個

# 將串列倒序取出
list1[::-1]
list1[::-2]

[9, 7, 5, 3, 1]

In [ ]:
str1 = 'abcdefgh'
str1[2]
str1[2:5]

addr1 = '台北市大同區忠孝東路一段100號'
addr1[0:3]
addr1[:3]
addr1[:6]

food = 'milk'
food[::-1]

'klim'

## 整數串列
range()

In [ ]:
# 整數串列宣告
# range([起始索引]終止索引[間隔值])
# 可填可不填：[起始索引預設0][間隔值預設1]
list(range(5))
list(range(1,10))
list(range(1,10,2))
list(range(2,10,2))

list(range(9,0,-1))
list(range(9,-1,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

# 迴圈

## For 迴圈

### For List

In [ ]:
fruits = ['Apple','Banana','Cherry']
for fruit in fruits:
  # print(fruit)
  print(fruit,end=',')

Apple,Banana,Cherry,

In [ ]:
# 用 for list 迴圈計算 1 加到 10
list1 = [1,2,3,4,5,6,7,8,9,10]
total = 0
for i in list1:
  total = total + i
print(total)

55

In [ ]:
# 用 for list 迴圈計算 1 到 10 的偶數相加
list1 = [1,2,3,4,5,6,7,8,9,10]
total = 0
for i in list1[1::2]:
  total = total + i
print(total)

30

In [ ]:
# 用 for list 迴圈計算 1 到 10 之間 3 的倍數,且是奇數值加總
list1 = [1,2,3,4,5,6,7,8,9,10]
total = 0
# for i in list1[2::3]:
#   if i%2 == 1:
#     total = total + i 
# print(total)

for i in list1:
  if i % 3 == 0:
    if i % 2 != 0:
      total = total + i
print(total)

# for i in list1:
#   if i % 3 == 0 and i % 2 !=0:
#     total = total + i
# print(total)

12

### For Range

In [ ]:
# 用 for range 迴圈計算 1 加到 10
total = 0
for i in range(1,11):
  total = total + i
print(total)

55

In [ ]:
# 用 for range 迴圈計算 1 到 10 的偶數相加
total = 0
for i in range(2,11,2):
  total = total + i
print(total)

30

In [ ]:
# 用 for range 迴圈計算 1 到 1000 之間 3 的倍數,且是奇數值加總
total = 0
# for i in range(3,1001,3):
#   if i%2 == 1:
#     total = total + i 
# print(total)

for i in range(1,1001):
  if i % 3 == 0:
    if i % 2 != 0:
      total = total + i
print(total)

# for i in range(1,1001):
#   if i % 3 == 0 and i % 2 !=0:
#     total = total + i
# print(total)

83667

In [ ]:
# 用 for range 迴圈將所有水果名印出
fruits = ['Apple','Banana','Cherry']
for fruit in range(len(fruits)):
  print(fruits[fruit])
  # print(fruits[fruit],end=',')

Apple
Banana
Cherry

In [ ]:
animals = "鼠牛虎兔龍蛇馬羊猴雞狗豬"
# animals[:5]

for animal in animals:
  print(animal,end=" ")

# for i in range(0,5):
  # print(animals[i],end=" ")

鼠 牛 虎 兔 龍

## While 迴圈

In [ ]:
# 用 While 迴圈計算 1 到 10
i = 1
total = 0
while i <= 10 :
  total = total + i 
  i = i + 1
print(total)

55

In [ ]:
# 用 While 迴圈計算 1 到 10 偶數加總
i = 1
total = 0
while i <= 10 :
  if i % 2 == 0 :
    total = total + i
  i = i + 1
print(total)

30

In [ ]:
# 用 While 迴圈計算 1 到 1000 之間 3 的倍數,而且是奇數值的加總
i = 1
total = 0
while i <= 1000 :
  if i % 3 == 0 and i % 2 != 0 :
    total = total + i
  i = i + 1
print(total)

83667

## Break & Continue

In [ ]:
# Break 跳出迴圈
for i in range(1,11):
  if i == 4:
    break
  print(i,end=",")

1,2,3,

In [ ]:
# Continue 跳過迴圈
for i in range(1,11):
  if i == 4:
    continue
  print(i,end=",")

1,2,3,5,6,7,8,9,10,

In [ ]:
# 印出一份由 2 到 9 的九九乘法表
for i in range(2,10):
  for j in range(2,10):
    print(f"{i} * {j} = {i*j:02}",end="  ")
  print()

2 * 2 = 04  2 * 3 = 06  2 * 4 = 08  2 * 5 = 10  2 * 6 = 12  2 * 7 = 14  2 * 8 = 16  2 * 9 = 18
3 * 2 = 06  3 * 3 = 09  3 * 4 = 12  3 * 5 = 15  3 * 6 = 18  3 * 7 = 21  3 * 8 = 24  3 * 9 = 27
4 * 2 = 08  4 * 3 = 12  4 * 4 = 16  4 * 5 = 20  4 * 6 = 24  4 * 7 = 28  4 * 8 = 32  4 * 9 = 36
5 * 2 = 10  5 * 3 = 15  5 * 4 = 20  5 * 5 = 25  5 * 6 = 30  5 * 7 = 35  5 * 8 = 40  5 * 9 = 45
6 * 2 = 12  6 * 3 = 18  6 * 4 = 24  6 * 5 = 30  6 * 6 = 36  6 * 7 = 42  6 * 8 = 48  6 * 9 = 54
7 * 2 = 14  7 * 3 = 21  7 * 4 = 28  7 * 5 = 35  7 * 6 = 42  7 * 7 = 49  7 * 8 = 56  7 * 9 = 63
8 * 2 = 16  8 * 3 = 24  8 * 4 = 32  8 * 5 = 40  8 * 6 = 48  8 * 7 = 56  8 * 8 = 64  8 * 9 = 72
9 * 2 = 18  9 * 3 = 27  9 * 4 = 36  9 * 5 = 45  9 * 6 = 54  9 * 7 = 63  9 * 8 = 72  9 * 9 = 81

In [ ]:
# 印出三角形
for i in range(1,11,2):
  print(i*"*")

for i in range(1,11,2):
  print("{:9}".format(i*"*"))

for i in range(1,11,2):
  print((9-i)*" ",end='')
  print(i*"*")

for i in range(1,11,2):
  print("{:>9}".format(i*"*"))

for i in range(1,11,2):
  print(int((9-i)/2) * " ",end="")
  print(i*"*")

for i in range(1,11,2):
  print("{:^9}".format(i*"*"))

*
***
*****
*******
*********
*
***
*****
*******
*********
        *
      ***
    *****
  *******
*********
        *
      ***
    *****
  *******
*********
    *
   ***
  *****
 *******
*********
    *
   ***
  *****
 *******
*********